<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="jquery-3.1.0.js" type="text/javascript"></script>
  <script src="website_jquery.js" type="text/javascript"></script>
  <script src="lib/about.html" type="html"></script>
  <script src="lib/contact.html" type="html"></script>
  <link rel="stylesheet" href="style.css">
  <title>Thady Condon</title>
</head>
<body>

  <ul>
    <li><a id='home'>Home</a></li>
    <li><a id='contact'>Contact</a></li>
    <li><a id='about'>About</a></li>
    <li class='dropdown'>
      <a class='dropbtn'>Trivia</a>
      <div class='dropdown-content'>
          <a id='sports'>Sports</a>
          <a id='movies'>Movies</a>
      <div/>
    </li>
  </ul>
  <div id='titleName' class='center'>Thady Condon<span>|</span></div>
  <div id='photoDiv' class='photo'></div>
  <img id='photoFrame' src="./lib/FullSizeRender_(1).jpg" class='photo'>
  <div id='aboutTextBox' class='movingBox'></div>
  <div id='contactTextBox' class='movingBox'></div>
  <!-- <div id='triviaAll' class='movingBox'> -->
    <div id='triviaMovies' class='movingBox'></div>
    <div id='triviaSport' class='movingBox'></div>
  <!-- </div> -->
  <script src="./lib/contactBox.js" type="text/javascript"></script>
  <script src="./lib/aboutBox.js" type="text/javascript"></script>
  <script src="./lib/photoBox.js" type="text/javascript"></script>
  <script src="./lib/triviaBox.js" type="text/javascript"></script>
  <!-- <p style="position:absolute">This is a paragraph.</p> -->
</body>
</html>
