<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="jquery-3.1.0.js" type="text/javascript"></script>
  <script src="website_jquery.js" type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
  <title>Thady Condon</title>
</head>
<body>

  <ul>
    <li><a id='home'>Home</a></li>
    <li><a id='contact'>Contact</a></li>
    <li><a id='about'>About</a></li>
    <li class='dropdown'>
      <a class='dropbtn'>Trivia</a>
      <div class='dropdown-content'>
          <a id='muayThai'>Muay Thai</a>
          <a id='bjj'>Brazilian Jiu-Jitsu</a>
      <div/>
    </li>
  </ul>
  <div id='titleName' class='center'>Thady Condon<span>|</span></div>
  <div id='photoFrame' class='movingBox'></div>
  <div id='aboutTextBox' class='movingBox'></div>
  <div id='contactTextBox' class='movingBox'></div>
  <div id='triviaBjj' class='movingBox'></div>
  <div id='triviaMuayThai' class='movingBox'></div>
  <div id='quote' class='loadFade'></div>
  <script src="./lib/box.js" type="text/javascript"></script>
  <!-- <p style="position:absolute">This is a paragraph.</p> -->
</body>
</html>
