ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: "Courier New", Courier, monospace;;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body{
  background: #000;
  font-family: "Courier";
  color: white;


}

#titleName{
  font-size: 50px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  animation: typing 4s 0.5s steps(40, start);
}

/*#titleName{
  color: white;
  text-decoration: none;
  position: center;
  margin: auto;
}*/

#aboutText{
  color: white;
  text-decoration: none;
  font-family: "Courier";
}

#aboutTextBox{
  display: inline-block;
  position:fixed;
  overflow-y:scroll;
  left:1%;
  top:91%;
  width: 20px;
  height: 20px;
  margin: auto;
  background: #b3c8d0;
  border: 1px solid white;
  font-size: 10pt;
  color: black;
  text-decoration: none;
  font-family: "Courier";
}

#contactTextBox{
  position:fixed;
  overflow-y:scroll;
  left:1%;
  top:95%;
  width: 20px;
  height: 20px;
  margin: auto;
  background: #b3c8d0;
  border: 1px solid white;
  font-size: 10pt;
  color: black;
  text-decoration: none;
  font-family: "Courier";
}

span{
  animation: blink 1s infinite;
  color: white;
}

@keyframes typing {
  from { width: 50 }
  to { width: 100% }
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

/*.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width:0 }
  to {width: 100%}
}

@keyframes blink-caret {
from, to {border-color: transparent}
50% {border-color: orange;}
}*/
