<div id="aboutText" class="loadHidden">

  <h1>About</h1>

<p>For the last four years I've been working as a software engineer with a FinTech consultancy in Old Street, London. Loving every minute! Within the last 5 months I've been appointed as Technical Lead of a small team and making the most of the opportunity. During this period I've had experience with NodeJS, AWS, Azure, Bluemix, Docker, Kubernetes, Istio, PostgreSQL, some Python and rigorous testing with Mocha/Chai, Cucumber, Artillery and some home made tools.</p>

<p>I'm also graduate of Europe's leading Web Development bootcamp. In a previous life I was a commercial analyst for the second largest pharmaceutical company in the world and a company that is consistently in the top 50 of the world best brands. Before all that I qualified architectural technologist.</p>

<p>I first started coding early in my commercial career. On a daily basis I interacted with technologies that were greatly improved with basic, custom coding, which I taught myself. This relied heavily on the skills I acquired through my previous experiences, such as creative problem solving, dedication, and team work. I soon learned that I could absorb these technologies quickly, which was recently put to the test at Makers Academy. My road to coding has not been straight forward but it has been worth it, I've finally found a path that puts a smile on my face.</p>

<h2>Skills</h2>

<h3>Creative Problem Solving.</h3>

Training to be an architectural technologist required the ability to absorb large quantities of technical information. Then through creative problem solving use this knowledge to work on projects ranging from small, simple, residential developments to large, complex, commercial ones.

<h3>Hard Work, Team Player.</h3>

<p>I joined JigsawXYZ at the very beginning. It started with the six founders and four engineers. I have been with the company since then and have had to work very long days and weekends to help the company grow. This required working in close teams organising large projects under time pressure. This experience has further developed my confidence as a hard working, team player</p>

<h3>Analytical thinking.</h3>

<p>After voluntarily withdrawing from the Marines I did MSc in Business and Project Management. This led me into the commercial world where I became a business analyst. This role required a curious personality and analytic mind to delve into complex and technical data, identifying patterns which could be utilised for commercial optimisation.</p>

<p>This role advanced my analytical thinking process and taught me how to dissect large quantities of technical information.</p>

<h2>Education</h2>

<p><b>Makers Academy (July 2016 to September 2016)</b></p>

The pursuit of clean code
Independent learner
Test Driven Development
Object Oriented Programming
Software Craftsmanship
Project	Description	Tech
AudioDash, Github	3D video game with a soundtrack that interacts with game objects. See link for scripts.	C#, Unity
Instagram Challenge	Allows users to sign in, upload photos, like and leave comments for others.	Rails, Omniauth
News Summary	Provides up-to-date news feed. Used own testing framework, Kiwi.	Javascript, jquery

<p><b>UCD Michael Smurfit Business School (September 2011 to August 2012)</b></p>

<p>MSc Business and Project Management
2:1
Completed the Clare Burren Mountain Marathon during this period.</p>

<p><b>Cork Institute of Technology (Sept 2005 to Aug 2008, Ordinary Level Degree) - (Sept 2010 to Aug 2011, Honours Degree)</b></p>

<p>BSc (Hons) Architectural Technology
2:1
Competed internationally for Ireland in Muay Thai Boxing during this period.</p>

<h2>Experience</h2>

<p><b>Sandoz (Novartis) Pharmaceuticals (March 2015 to July 2016)</b></p>

<p>Business Excellence Analyst</p>

<p><b>Philips Electronics (March 2013 to March 2015)</b></p>

<p>Pricing Analyst</p>

<h2>Interests</h2>

<p>Long distance adventure racing, Brazilian Jiu-Jitsu, Muay Thai Boxing and Potato related activities (I'm Irish).</p>

</div>
