<div id='bjjText' class='loadHidden'>
  <h1>Brazilian Jiu-Jitsu</h1>

    <p>I started training BJJ when I moved to the UK. I had my first session in 2014 and I've been training ever since. My friend Jed introduced me. I genuinely think he was just looking for an excuse to throw me about and choke me out. It's a very different world to Muay Thai but it's equally adictive.</p>

    <p>My first exposure to the wonderful world of BJJ was at Guildford Martial Arts center, which I believe is now called Mavericks. It was an Ivan Maciel affiliate and Nick Fielding (absolute gentleman and beast) took the classes. He was able to give great insight into the sport. He was a senior blue belt (second belt of five) when I began training under him which worked really well as he knew exactly where white belts were going to struggle and need help. Thanks to him and Jed I was hooked.</p>

    <div class='photoFrameStill' style='width:500;height:500'>
      <img src="./lib/photos/bjjGuildford.jpg" style="filter:grayscale(100%);">
    </div>
    <p class="caption">2014: Really enjoyed the classes at this gym. What a team. OSS!!</p>

  <p>After I moved jobs away from Guildford I could no longer make training so I had to find another gym to feed the addiction. A training buddy from Guildford (Connor) had recently brought a phenomenal brown belt for a session with us who recommended coming up to Andy Roberts BJJ, which was near my new job. It's hard to explain the culture shock. I went from a small gym of a couple of close friends being taught by an excellent blue belt, to an academy with two Roger Gracie Academy black belts and more brown belts then you could shake a stick at. It involved intense training and it opened my eyes to the high standards that could be achieved in the sport.</p>

  <div class='photoFrameStill' style='height:337.5;'>
    <img src="./lib/photos/andyRoberts.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2015: The standard at Andy Roberts is incredible. As can be see classes were slightly larger. Kobra Kai like!</p>

  <p>At Andy Roberts I worked hard with the guidance of the world class instructors and students alike. Then in the summer of 2015 I recived my Blue Belt. Yay! This essentially meant that anywone who was taking it easy on me during training no longer did so. In spite of that it was a proud moment.</p>

  <div class='photoFrameStill' style='width:500;height:500'>
    <img src="./lib/photos/blueBelt.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2015: Myself and Connor. I just received my Blue Belt, great day.</p>

  <p>Just after receiving my blue belt I had a competition which was a great learning experience. I made a number of stupid mistakes which I haven't made since; so overall I was happy with the progress, but I lost.</p>

  <div class='photoFrameStill' style="width:493.4;height:500;">
    <img src="./lib/photos/bjjComp.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2015: My last competition at the Surrey Sports Park.</p>

</div>
