<div id="muayThaiText" class="loadHidden">
  <h1>Muay Thai</h1>
  <p>I started Muay Thai Boxing when I was seventeen. I competed until I was twenty-six and open a small gym in the evenings when I was twenty-seven. I then had to close the gym because to move for work.</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/hollandComp.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2007: A victory in the Netherlands</p>

  <p>I've travelled to Thailand on a number of occasions to train with the beasts in Bangkok. I had the pleasure of training at Sasiprapa during the summer months in 2006 and 2007</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/fairtex2006.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2006: A short trip to Fairtex Bangkok</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/sasiprapaBro.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2006: A true Bankok experience at Sasiprapa with my bro</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/sasiprapaShane.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2006: My friend the warrior who lived and competed out there</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/sasiprapaLads.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2006: Don't let their cheery disposition fool you</p>

  <p>I really enjoyed running my own club. It was a modest club but my loyal subjects were incredible. I know a few of them are still training today and even competing. It was a brilliant time, thank you to everyone who was there.</p>

  <div class='photoFrameStill' style="width:690;height:462;">
    <img src="./lib/photos/homeClub.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption" style="text-indent:50px">2012: My club at home, I miss the people and hope they're excelling</p>

  <p>My brother always helped with the club from the very beginning. I should say it was our club. On top of everything else he was able to create a logo and get clothing made</p>

  <div class='photoFrameStill' style="width:145;height:200;">
    <img src="./lib/photos/homeArtwork.jpg">
  </div>
  <p class="caption">2012: My brother was there from the beginning. His logo can be seen here</p>


  <p>I still train every now and again, but not as regularly as I should. I don't know if i'll every get back into competeting but never say never. In London I'm able to train with my friend Shane from back home who is the trainer at the MMA Clinic in Angel. What a legend.</p>

  <div class='photoFrameStill' style="width:690;height:388;">
    <img src="./lib/photos/corkLads.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption" style="text-indent:50px;">2016: Cork lads in London. Shane, my trainer from home, is posing on the floor</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/trainingBro.jpg" style="filter:grayscale(100%);">
  </div>
  <p class="caption">2016: Last training session with my bro before my nephew Cillian arrived on the scene</p>

</div>
