<div id='bjjText' class='loadHidden'>
  <h1>Travel</h1>

  <div class='photoFrameStill'>
    <img src="./lib/photos/lumpinee.jpg">
  </div>
  <p class="caption">The old Lumpinee Boxing Stadium, Bankok</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/northern_thailand.jpg">
  </div>
  <p class="caption">Northern Thailand during the rainy season</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/loas2.jpg">
  </div>
  <p class="caption">Somewhere in Loas</p>

  <div class='photoFrameStill' style='transform:rotate(90deg);margin-bottom:100px;margin-top:100px;'>
    <img src="./lib/photos/vietnam.jpg">
  </div>
  <p class="caption">Vietnam, around Ha Long Bay I think</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/the_peak.jpg">
  </div>
  <p class="caption">The Peak in Hong Kong</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/golden_mile.jpg">
  </div>
  <p class="caption">The Golden Mile during the day, Hong Kong</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/sapporo.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px'>
    <img src="./lib/photos/castle_tokyo.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px'>
    <img src="./lib/photos/kyoto.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px'>
    <img src="./lib/photos/kyoto2.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/wilderness.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='height:212;'>
    <img src="./lib/photos/kyoto_pano.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px;'>
    <img src="./lib/photos/osaka_night.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/forbidden_city.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/lhasa.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/tibet.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/everest3.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='transform:rotate(270deg);margin-bottom:100px;margin-top:100px;'>
    <img src="./lib/photos/everest2.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/everest.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/leaving_tibet.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='transform:rotate(270deg);margin-bottom:100px;margin-top:100px;'>
    <img src="./lib/photos/bridge_nepal.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill'>
    <img src="./lib/photos/india.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px;'>
    <img src="./lib/photos/jordan.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px;'>
    <img src="./lib/photos/iceland1.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>

  <div class='photoFrameStill' style='width:450px;height:600px;'>
    <img src="./lib/photos/iceland2.jpg">
  </div>
  <p class="caption">Sunset over Sapporo, Northern Japan</p>
